# Building Trees using scikit-learn - Lab

## Introduction

Following the toy example we saw in the previous lesson, we'll now build a decision tree for a more complex dataset. This lab covers all major areas of standard machine learning practice , from data acquisition to evaluation of results. We'll continue to use the scikit-learn and pandas libraries to conduct this analysis, following the same structure we saw in the previous lesson.

## Objectives

You will be able to:

- Use pandas to prepare the data for the scikit-learn decision tree algorithm
- Train the classifier with a training dataset and evaluate performance using different measures
- Visualize the decision tree and interpret the visualization

## UCI Banknote Authentication Data Set

In this lab, we'll work with a popular dataset for classification called the "UCI Bank Note Authentication Dataset'. This Data were extracted from images that were taken from genuine and forged banknotes! The notes were first digitized, followed by a numerical transformation using DSP techniques. The final set of engineered features are all continuous in nature, meaning that our dataset consists entirely of floats, with no strings to worry about. If you're curious about how the dataset was created, you can visit the UCI link listed above to learn about feature engineering in detail!

We have following attributes in the dataset. 

1. __Variance__ of Wavelet Transformed image (continuous) 
2. __Skewness__ of Wavelet Transformed image (continuous) 
3. __Curtosis__ of Wavelet Transformed image (continuous) 
4. __Entropy__ of image (continuous) 
5. __Class__ (integer) - Target/Label

## Step 1: Import necessary Libraries
- Import necessary libraries as we saw in previous lesson

In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_graphviz

## Your code here

/opt/conda/envs/learn-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/opt/conda/envs/learn-env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

## Step 2: Import Data

Now, we'll load our dataset in a DataFrame, perform some basic EDA, and generally get a feel for the data we'll be working with.

- Read the file `"data_banknote_authentication.csv"` as a pandas dataframe. Note that there is no header information in this dataset.
- Assign column names 'Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class' to dataset in the given order.
- View the basic statistics and shape of dataset.
- Check for frequency of positive and negative examples in the target variable

In [12]:
# Create Dataframe
data = pd.read_csv('data_banknote_authentication.csv', header = None, names = ['Variance','Sknewness','Curtosis','Entropy','Class'])





## Your code here 
data.head()

   Variance  Sknewness  Curtosis  Entropy  Class
0   3.62160     8.6661   -2.8073 -0.44699      0
1   4.54590     8.1674   -2.4586 -1.46210      0
2   3.86600    -2.6383    1.9242  0.10645      0
3   3.45660     9.5228   -4.0112 -3.59440      0
4   0.32924    -4.4552    4.5718 -0.98880      0

In [13]:
# Describe the dataset
data.describe()
## Your code here

          Variance    Sknewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [15]:
# Shape of dataset
## Your code here 
data.shape

(1372, 5)

In [16]:
# Class frequency of target variable 
data.Class.value_counts(normalize = True)
## Your code here

0    0.555394
1    0.444606
Name: Class, dtype: float64

## Step 3: Create Features and Labels, Training and Test Data

Now we need to create our feature set `X` and labels `y`. 
- Create `X` and `y` by selecting the appropriate columns from the dataset
- Create a 80/20 split on the dataset for training/testing. Use `random_state=10` for reproducibility

In [17]:
# Create features and labels
X = data.drop('Class', axis = 1)
## Your code here 
y

      Variance  Sknewness   Curtosis   Entropy
0     3.621600    8.66610  -2.807300 -0.446990
1     4.545900    8.16740  -2.458600 -1.462100
2     3.866000   -2.63830   1.924200  0.106450
3     3.456600    9.52280  -4.011200 -3.594400
4     0.329240   -4.45520   4.571800 -0.988800
5     4.368400    9.67180  -3.960600 -3.162500
6     3.591200    3.01290   0.728880  0.564210
7     2.092200   -6.81000   8.463600 -0.602160
8     3.203200    5.75880  -0.753450 -0.612510
9     1.535600    9.17720  -2.271800 -0.735350
10    1.224700    8.77790  -2.213500 -0.806470
11    3.989900   -2.70660   2.394600  0.862910
12    1.899300    7.66250   0.153940 -3.110800
13   -1.576800   10.84300   2.546200 -2.936200
14    3.404000    8.72610  -2.991500 -0.572420
15    4.676500   -3.38950   3.489600  1.477100
16    2.671900    3.06460   0.371580  0.586190
17    0.803550    2.84730   4.343900  0.601700
18    1.447900   -4.87940   8.342800 -2.108600
19    5.242300   11.02720  -4.353000 -4.101300
20    5.786700    7.89020  -2.619600 -0.487080
21    0.329200   -4.45520   4.571800 -0.988800
22    3.936200   10.16220  -3.823500 -4.017200
23    0.935840    8.88550  -1.683100 -1.659900
24    4.433800    9.88700  -4.679500 -3.748300
25    0.705700   -5.49810   8.336800 -2.871500
26    1.143200   -3.74130   5.577700 -0.635780
27   -0.382140    8.39090   2.162400 -3.740500
28    6.563300    9.81870  -4.411300 -3.225800
29    4.890600   -3.35840   3.420200  1.090500
...        ...        ...        ...       ...
1342 -1.747900   -5.82300   5.869900  1.212000
1343 -0.959230   -6.71280   4.985700  0.328860
1344  1.345100    0.23589  -1.878500  1.325800
1345  2.227900    4.09510  -4.803700 -2.111200
1346  1.257200    4.87310  -5.286100 -5.874100
1347 -5.385700    9.12140  -0.419290 -5.918100
1348 -2.978600    2.34450   0.526670 -0.401730
1349 -1.585100   -2.15620   1.708200  0.901700
1350 -0.218880   -2.20380  -0.095400  0.564210
1351  1.318300    1.90170  -3.311100  0.065071
1352  1.489600    3.42880  -4.030900 -1.425900
1353  0.115920    3.22190  -3.430200 -2.845700
1354 -3.392400    3.35640  -0.720040 -3.523300
1355 -6.163200    8.70960  -0.216210 -3.634500
1356 -4.078600    2.92390   0.870260 -0.653890
1357 -2.589900   -0.39110   0.934520  0.429720
1358 -1.011600   -0.19038  -0.905970  0.003003
1359  0.066129    2.49140  -2.940100 -0.621560
1360 -0.247450    1.93680  -2.469700 -0.805180
1361 -1.573200    1.06360  -0.712320 -0.838800
1362 -2.166800    1.59330   0.045122 -1.678000
1363 -1.166700   -1.42370   2.924100  0.661190
1364 -2.839100   -6.63000  10.484900 -0.421130
1365 -4.504600   -5.81260  10.886700 -0.528460
1366 -2.410000    3.74330  -0.402150 -1.295300
1367  0.406140    1.34920  -1.450100 -0.559490
1368 -1.388700   -4.87730   6.477400  0.341790
1369 -3.750300  -13.45860  17.593200 -2.777100
1370 -3.563700   -8.38270  12.393000 -1.282300
1371 -2.541900   -0.65804   2.684200  1.195200

[1372 rows x 4 columns]

In [ ]:
# Perform an 80/20 split

## Your code here

## Step 4: Train the Classifier and Make Predictions
- Create an instance of decision tree classifier with random_state=10 for reproducibility
- Fit the training data to the model 
- USe the trained model to make predictions with test data

In [ ]:
# Train a DT classifier

## Your code here

In [ ]:
# Make predictions for test data

## Your code here

## Step 5: Check Predictive Performance

We can now use different evaluation measures to check the predictive performance of the classifier. 
- Check the accuracy , AUC and create a confusion matrix 
- Interpret the results

In [ ]:
# Calculate Accuracy , AUC and Confusion matrix 

## Your code here

## Bonus: Re-grow the Tree Using Entropy

SO in the above example, we used all default settings for decision tree classifier. The default impurity criterion in scikit-learn is the Gini impurity. We can change it back to entropy by passing in `criterion='entropy'` argument to the classifier in the training phase. 
- Repeat the above tasks for training, evaluation and visualization using Entropy measure. (
- Compare and interpret the results

In [ ]:


## Your code here

## Level up - Optional 

- We discussed earlier that decision trees are very sensitive towards outliers. Try to identify and remove/fix any possible outliers in the dataset. 
- Check the distributions of the data. Is there any room for normalization/scaling of data ? Apply these techniques and see if it improves upon accuracy score.

## Summary 

In this lesson, we looked at growing a decision tree for banknote authentication dataset which is composed of extracted continuous features from photographic data. We looked at different stages of the experiment including data acquisition, training, prediction and evaluation. We also looked at growing trees using entropy vs. gini impurity criteria. In following lessons, we shall look at some more such pre-train tuning techniques for ensuring an optimal classifier for learning and prediction.